<div class="main">
	<div class="d-flex row justify-content-center align-self-center">
		<div class="card w-50 p-3 ">
			<div class="card-body">
				<h4 class="card-title" style="text-align:center">User Register</h4>
				<form #register=ngForm>
					<div class="form-group">
							<label>user name</label>
							<input type="text" class="form-control" name="userName"  placeholder="Enter user name" ngModel>
          </div>
					<div class="form-group">
						<label>email</label>
						<input type="email" class="form-control" name="email" placeholder="Enter email" ngModel>
          </div>
					<div class="form-group">
							<label>password</label>
							<input type="password" class="form-control" name="password" placeholder="Enter password" ngModel>
          </div>
          <div class="d-flexnjustify-content-center">
            <button type="button" class="btn btn-primary btn-block" (click)="onSubmit(register.value)">submit</button>
          </div>
				</form>
			</div>
		</div>
	</div>
</div>