nav a{
  color:#f2a365
}

nav img{
  margin-right: 2%
}


.navbar-nav .nav-item .nav-link {
    color: #f2a365;
}
.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
    color: #ececec;
    background: #f2a365;
    border-radius: 5px;
}